body {
    background: rgb(15, 15, 15);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url("source/background-1.png");
    background-repeat:repeat-x;
    background-size: cover;
    height: 96vh; 
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

h1 {
    color: whitesmoke;
    margin-left: 5%;
    font-size: 10rem;
    width: 56%;
}

#link-list {
    position: absolute;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#link-list a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: whitesmoke;
    line-height: 3;
    font-size: 24px;
    text-align: end;
}

#link-list a:hover {
    text-transform: uppercase;
    text-decoration:line-through;
    color: rgb(15, 15, 15);
    font-size: 26px;
    text-align: center;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 0;
    color: whitesmoke;
    margin: 0;
}

/* Style the header links */
.header a {
    float: left;
    color: black;;
    text-align: center;
    text-decoration: none;
}

/* Style the logo link */
.header a.logo {
    font-size: 12px;
    color: whitesmoke;
}

@media only screen and (max-width: 770px) {
    /* For mobile phones (600px or smaller) */
    h1 {
        width: 100%;
        font-size: 4rem;
    }
    h2 {
        display: none;
    }
}

.icon {
    font-size: 2rem;
    color: whitesmoke;
    align-items:center;
    text-align: center;
    margin: 10%;
    text-decoration: none;
}

.icon img {
    height: 30px;
    width: 30px;
}

.end {
    align-items: center;
    text-align: center;
    margin: 1% auto;
}

h2 {
    font-size: 2rem;
    height: 6%;
    margin-top: 14%;
    color: whitesmoke;
    margin-left: 17%;
}/* ✶✶ */